html {
    color: #000;
    background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
textarea,
select,
button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size: 100%;
    border-radius: 0;
    border: none;
    appearance: none;
    -webkit-appearance: none;
    background-color: inherit;
}

input,
textarea,
select {
    font-size: inherit;
}

textarea {
    resize: vertical;
    display: block;
}

button {
    padding: 0;
    cursor: pointer;
}

legend {
    color: inherit;
}

tbody {
    -webkit-text-size-adjust: 100%;
}

main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

svg {
    display: block;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #8a00ea;
}

html {
    background-color: #ffffff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo,
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    margin: 20px;
    color: #222;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

button {
}

.container {
    /* width: min(1200px, 100%);
    margin-inline: auto; */
}

/* ヘッダー */
.header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

/* タブ */
.header-nav {
    display: flex;
    gap: 12px;
}

.tab {
    cursor: pointer;
    border: none;
    background: none;
    padding: 6px 10px;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    transition: border-color 0.3s, font-weight 0.3s;
}

.tab.active {
    border-color: #333;
    font-weight: bold;
}

/* 検索フォーム */
.search-box {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.search-input {
    flex-grow: 0.5;
    font-size: 14px;
    padding: 6px 8px;
    border: 1px solid #000;
}

.search-button {
    font-size: 14px;
    padding: 6px 12px;
    cursor: pointer;
}

/* コンテンツ共通 */
.results-container {
}

.hidden {
    display: none;
}

/* 書籍カード */
.book-list {
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(3, 332px);
    justify-content: center;
    gap: 20px;
}

.book-card {
    color: #251e4a;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12);
    border-color: rgba(0, 0, 0, 0.12);
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1), border-color 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 332px;
}

.book-card:hover {
    box-shadow: none;
    border-color: var(--primary-color);
}

.book-title {
    font-size: 16px;
    font-weight: bold;
    display: -webkit-box; /* flexのような表示にする */
    -webkit-box-orient: vertical; /* 縦方向にテキストを並べる */
    -webkit-line-clamp: 1; /* 表示する行数を指定（ここでは1行） */
    overflow: hidden; /* はみ出した部分を隠す */
    text-overflow: ellipsis; /* 省略記号（…）を付ける */
}

.book-author {
    font-size: 16px;
    color: #555;
}

.book-description {
    font-size: 13px;
    color: #333;
}

.book-image {
    align-self: center;
    margin-top: auto;
}

.book-image img {
    border: 1.5px solid var(--primary-color);
    border-radius: 3px;
    width: 150px;
    aspect-ratio: 2 / 2.6;
}

.book-button {
    align-self: start;
    font-size: 14px;
    cursor: pointer;
    background-color: #fff;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    padding: 3px 9px;
    transition: 0.2s;
}

.book-button:hover {
    background-color: #f0f0f0;
}

.book-button:hover {
}

.book-delete {
}

.book-favorite {
    align-self: center;
}
